/* 
    Document   : custom
    Created on : 01/02/2011, 20:02:54
    Author     : rgouvea
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    background: black;
}

.container {
    width: 1024px;
}

body {
    background: #000;
}

.header {
    float: left;
    background: #000;
    width: auto;
}

.nav {
    float: left;
    width: auto;
}

.section {
    width: auto;
    float: left;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.download_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: auto;
  color: #fff;
  background: #990000;
  font-size: 120%;
  font-weight: bold;
  padding: 20px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

