<div class="container">
  <h1 style="color: #f5f5f5">Downloads</h1>
  <span style="color: #990000; font-size: 16px;"> Mod Super Clio V1.0 </span><br/>
  <span style="color: #f5f5f5">
    Power: 144 cv - 6300 rpm <br/>
    Torque: 238 Nm - 4500 rpm <br/>
    Peso: 750 kg
  </span><br/>
  <%= link_to "DOWNLOAD", 'http://ww.rfactorcentral.com/detail.cfm?ID=Renault%20Super%20Clio' %><br/><br/>

  <span style="color: #990000; font-size: 16px;"> Pista Interlagos GP4 V3.1 </span><br/>
  <span style="color: #f5f5f5">
    Local: São Paulo<br/>
    Tamanho: 2667m
  </span><br/>
  <%= link_to "DOWNLOAD", 'http://ww.rfactorcentral.com/detail.cfm?ID=Interlagos%20GP4' %><br/><br/>

  <span style="color: #990000; font-size: 16px;"> Taruma V1.2 </span><br/>
  <span style="color: #f5f5f5">
    Local: Tarumabr/>
    Tamanho: 3016m
  </span><br/>
  <%= link_to "DOWNLOAD", 'http://ww.rfactorcentral.com/detail.cfm?ID=Taruma' %><br/>
</div>
