<span style="color: #f5f5f5">
 REGRAS DE CONDUTA
<br/>
<br/>
-Não haverá diretor de prova, mas após a corrida ou em até 24hs depois,<br/>
todos que tiverem reclamações deverão expôr-las no fórum,<br/>
para que TODOS os pilotos avaliem e dêem suas opiniões.<br/>
<br/>
-Igual ao automobilismo real, corrida "limpa" e sem atitudes anti-esportivas.<br/>
<br/>
-Se sofrer acidente e alguma parte ficar em vermelho (perder parte do carro),<br/>
vocêź deveráį ir para os boxes concertar em até 2 voltas.<br/>
<br/>
-Não é permitido usar o farol e nem a buzina.<br/>
<br/>
-Não é permitido o uso de chat durante a corrida.<br/>
<br/>
-Não é permitido trocar o traçado mais de uma vez para defender posição.<br/>
<br/>
-O retardatário não pode atrapalhar ultrapassagem.<br/>
<br/>
-Não é permitido, após um erro, voltar a pista atrapalhando um adversário,<br/>
mesmo sendo retardatário.<br/>
<br/>
-Não é permitido ganhar posição ilegalmente (famoso "TOTÓ"),<br/>
contanto...se isso acontecer e o piloto infrator devolver a posição,<br/>
não será punido.<br/>
<br/>
-Quem queimar a largada será punido com drive-thru.<br/>
<br/>
-Não é permitido cortar caminho.<br/>
Não pode passar mais que meio carro da linha branca<br/>
ou será interpretado como cortar caminho.<br/>
<br/>
-O piloto deve respeitar a faixa de saída dos boxes.<br/>
<br/>
-Se bater propositalmente em outro piloto e perjudicá-lo na corrida,<br/>
o piloto infrator será desclassificado.<br/>
<br/>
QUEM NÃO RESPEITAR A REGRA DE CONDUTA,
SERÁ DESCLASSIFICADO AUTOMATICAMENTE E SEM DIREITO A RECLAMAÇÕES!<br/>
<br/>
<br/>
DIFICULDADE / REGRA:<br/>
<br/>
-Multiplo de danos: 100%<br/>
<br/>
-Tempo de corridas: 120min<br/>
<br/>
-Tempo de corridas: 120min<br/>
<br/>
-Consumo Combustķvel: Normal<br/>
<br/>
-Consumo Pneus: Normal<br/>
<br/>
- Horário da Corrida: 9h AM (no jogo)<br/>
<br/>
-Consumo Pneus: Normal<br/>

</span>
